body {
  background-color: #FFFFFF;
  color: #333333;
  font-family: 'Open Sans';
  line-height: 1.6;
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
}

h1, h2 {
  color: #222222;
  margin-bottom: 25px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;

}

a {
  color: #0077BA;
  font-weight: bold;
}

a:visited {
  color: #682BD7;
}

p {
  margin-bottom: 20px;
}

.content {
  margin-top: 30px;
  margin-bottom: 30px;
}

.content ul {
  margin: 20px 0;
  padding: 0;
  list-style: disc;
  padding-left: 20px;
}

.content li {
  margin-bottom: 10px;
}

.content-box {
  background-color: #DDF2D1;
  color: black;
  padding: 16px;
  margin: 20px 0;
}